body {
    color: rgb(19, 139, 219);
}

#bkImg {
    background: url(../imgs/test1.jpg) no-repeat;
    width: 959px;
    height: 959px;
    transform: rotate(120deg);
}

.bk-color {
    background-color: blue;
}